
@{
    ViewBag.Title = "Gestion des amitiés";
}

<div class="formLayout">
    <h2>Gestion des amitiés</h2>
    <hr />
    <div style="display:grid; grid-template-columns:295px 35px; column-gap:10px; margin-bottom:10px">
        <input type="search" id="Search" placeholder="recherche" class="form-control" />
        <span id="SearchCommand" class="icon fa fa-search" style="margin-top:5px"></span>
    </div>
    <div class="friendfilters">
        <input type="checkbox" id="filter_NotFriend" class="filter" checked />
        <label for="filter_NotFriend" class="fa green fa-plus-circle" title="Afficher/masquer les usagers qui sont pas encore ami avec vous"></label>

        <input type="checkbox" id="filter_Request" class="filter" checked />
        <label for="filter_Request" class="fa green fa-check" title="Afficher/masquer les requêtes d'amitié reçues"></label>

        <input type="checkbox" id="filter_Pending" class="filter" checked />
        <label for="filter_Pending" class=" fa green fa-clock-o" title="Afficher/masquer les requêtes d'amitié envoyées en attente de réponse"></label>

        <input type="checkbox" id="filter_Friend" class="filter" checked />
        <label for="filter_Friend" class="fa green fa-check-circle" title="Afficher/masquer tous les amis"></label>

        <input type="checkbox" id="filter_Refused" class="filter" checked />
        <label for="filter_Refused" class="fa red fa-times-circle" title="Afficher/masquer toutes les demandes refusées ou déclinées"></label>

        <input type="checkbox" id="filter_Blocked" class="filter" checked />
        <label for="filter_Blocked" class="fa red fa-ban" title="Afficher/masquer tous les usagers bloqués"></label>

    </div>
    <hr />
    <div id="RelationshipsContainer"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script defer>
        initTimeout(120);
        let GetUsersList = new PartialRefresh("@Url.Action("GetRelationships")", "RelationshipsContainer", 10, UpdateCheckboxChangeCallback);

        function UpdateCheckboxChangeCallback() {
            // renew button click call back
            $(".send-request").click(
                function () {
                    let userid = this.id.split('_')[1];
                    GetUsersList.command("@Url.Action("SendRequest")" + "?userid=" + userid);
                }
            );
            $(".remove-request").click(
                function () {
                    let userid = this.id.split('_')[1];
                    GetUsersList.confirmedCommand("Retirer l'amitié?", "@Url.Action("RemoveRequest")" + "?userid=" + userid);
                }
            );
            $(".accept-request").click(
                function () {
                    let userid = this.id.split('_')[1];
                    GetUsersList.command("@Url.Action("AcceptRequest")" + "?userid=" + userid);
                }
            )
            $(".deny-request").click(
                function () {
                    let userid = this.id.split('_')[1];
                    GetUsersList.command("@Url.Action("DenyRequest")" + "?userid=" + userid);
                }
            )
        }
    </script>
}