@using ChatManager.Models;

@model IEnumerable<Message>

@{
    var targetUser = DB.Users.Get(ChatManager.Controllers.ChatRoomController.TargetUser);
    var onlineUser = OnlineUsers.GetSessionUser();
}

<div class="messagesHeader">
    <h4>Conversation avec </h4>
    <div style="display: flex; align-items: center; gap:10px">
        @Helper.AvatarUser(targetUser)
        @Helper.OnLineStatusIcon(OnlineUsers.IsOnLine(targetUser.Id))
    </div>
</div>

@foreach (Message message in Model)
{
    if (message.To == onlineUser.Id)
    {
        <div class="receivedLayout">
            <div id="received_@message.Id" class="received" title="@message.ReadTime.TimeOfDay.ToString()">
                @Helper.ParseContent(message.Content)
            </div>
        </div>
    }
    else
    {
        <div class="sentLayout">
            <div id="sent_@message.Id" class="sent" title="@message.SendTime.TimeOfDay.ToString()">
                @Helper.ParseContent(message.Content)
            </div>
            @if (message.ReadTime == DateTime.MinValue)
            {
                <div class="unreadIndicator" title="Message non lu"></div>
            }
        </div>
    }
}