@using ChatManager.Models;

@model IEnumerable<User>


@foreach (User user in Model)
{
    if (user.Id == ChatManager.Controllers.ChatRoomController.TargetUser)
    {
        <div class="selectedTarget" userid="@user.Id" title="@user.GetFullName()">
            @Helper.avatar(user, "UserSmallAvatar")
        </div>
    }
    else
    {
        <div class="unselectedTarget" userid="@user.Id" title="@user.GetFullName()">
            @Helper.avatar(user, "UserSmallAvatar")
        </div>
    }
}